html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

body {
    margin: 0;
}

.row {
    z-index: 5;
}